body {
  font-family: 'Open Sans';
  font-weight: 300;
}

.hidden {
  display: none;
}

p {
  margin-top: 25px;
  line-height: 24px;
}

header {
  background-color: #2F2235;
  height: 60px;
}

.header__container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

#header__container--title {
  flex: 1;
}

#header__container--student-name {
  text-align: right;
}

#header__title--party {
  color: #34D1D1;
}

h1 {
  color: #D1D2D3;
  font-size: 30px;
}

h2 {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #F2F2F2;
}

.section__heading__container {
  display: flex;
  width: 90%;
  margin: 40px auto;
}

.section__heading {
  display: inline-block;
  font-size: 18px;
  margin-right: 25px;
}

.section__heading--hr {
  flex: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #D1D2D3;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0; 
}

.section__footer {
  text-align: center;
  padding: 15px;
}

.section__footer--embed-code {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #D1D2D3;
}

.section__footer--toggle-code {
  color: #F2F2F2;
  background-color: #2F2235;
  width: 250px;
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  margin: 25px;
}

.main__accordion,
.main__flexible-cards,
.main__header-bar {
  width: 80%;
  margin: 0 auto;
}

.accordion__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid #D1D2D3;
  font-family: 'Open Sans';
  font-weight: 300;
}

.accordion__tabs p {
  margin: 12px 0;
  line-height: 24px;
}

.accordion__tabs h2 {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #F2F2F2;
}

.accordion__tabs label {
  -ms-flex-order: 1;
  flex: 1;
  display: flex;
  padding: 16px 32px;
  cursor: pointer;
  background: #F2F2F2;
  border: 1px solid #FFFFFF;
  color: #666666;
  -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s;
}

label img {
  display: none;
  position: absolute;
  right: 80px;
  height: 25px;
}

.accordion__tab {
  -webkit-box-ordinal-group: 100;
  -webkit-order: 99;
  -ms-flex-order: 99;
  order: 99;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 25px;
  background: #FFFFFF;
}

.accordion__tab--image-container {
  margin-right: 24px;
}

.accordion__tab img {
  width: 300px;
  object-fit: contain;
}

.accordion__tabs h2 {
  color: #000000;
}

.accordion__tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.accordion__tabs input[type="radio"]:checked + label { 
  background: #FFFFFF;
  color: #000000;
  font-weight: 600;
}

.accordion__tabs input[type="radio"]:checked + label + .accordion__tab {
  display: flex;
}

.flexible-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flexible-card {
  overflow:  hidden;
  border: 1px solid #D1D2D3;
  margin: 10px;
}

.flexible-card__heading {
  height: 50px;
  border-bottom: 1px solid #D1D2D3;
  line-height: 35px;
}

.flexible-card__heading--content {
  font-size: 16px;
  font-weight: 600;
  margin: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flexible-card__image--container {
  height: 200px;
}

.flexible-card__image {
  width: 100%;
  height: 200px;
}

#flexible-card--one {
  grid-column-start: 1;
  grid-column-end: 3;
}

#flexible-card--seven {
  grid-column-start: 2;
  grid-column-end: 4;
}





@media (max-width: 800px) { 

  .accordion__tab--image-container {
    width: 200px;
  }

  .accordion__tab img {
    width: 100%;
  }

  .accordian__tabs--text {
    width: 50%
  }

  .flexible-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #flexible-card--one,
  #flexible-card--seven {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  #flexible-card--seven {
    grid-row-start: 2;
  }

  #flexible-card--two,
  #flexible-card--four {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #flexible-card--three,
  #flexible-card--five {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  #flexible-card--six {
    grid-column-start: 2;
    grid-column-end: 4;
  }

}







@media (max-width: 600px) { 

  header {
    height: 110px;
  }

  .header__container {
    flex-direction: column;
    text-align: center
  }

  #header__container--student-name {
    text-align: center;
    margin-top: 25px
  }

  .section__heading__container {
    flex-direction: column;
    text-align: center;
  }

  .section__heading {
    margin: 0;
  }

  .section__heading--hr {
    width: 100px;
    margin: 20px auto;
  }

  .accordion__tabs .accordion__tab,  
  .accordion__tabs label {
    -webkit-box-ordinal-group: initial;
    -webkit-order: initial;
    -ms-flex-order: initial;
    order: initial;
    width: auto;
  }
  
  .accordion__tabs {    
    flex-direction: column;
  }
  
  .accordion__tab {
    padding: 0;
  }
  
  .accordion__tabs label {
    font-size: 24px;
    border-bottom: 1px solid #D1D2D3;
  }

  .accordian__tabs--text {
    width: auto;
    margin: 25px;
  }

  .accordion__tab--image-container,
  .accordion__tab img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  label img {
    display: block;
  }

  .accordion__tabs input[type="radio"]:checked + label + .accordion__tab {
    display: block;
  }

  .accordion__tabs input[type="radio"]:checked + label { 
    color: #666666;
}

  .accordion__tabs input[type="radio"]:checked + label img + #accordion--plus {
    display: none;
  }

  .accordion__tabs input[type="radio"]:checked + label img + #accordion--minus {
    display: block;
  }

}






@media (max-width: 500px) { 

  .flexible-cards {
    grid-template-columns: 1fr;
  }

  #flexible-card--one,
  #flexible-card--two,
  #flexible-card--three,
  #flexible-card--four,
  #flexible-card--five,
  #flexible-card--six,
  #flexible-card--seven {
    grid-column-start: 1;
  }

  #flexible-card--seven {
    grid-row-start: 7;
  }


}
