body {
  font-family: 'Open Sans';
  font-weight: 300;
}

p {
  margin: 12px 0;
  line-height: 24px;
}

header {
  background-color: #2F2235;
  height: 60px;
}

.header__container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

#header__container--title {
  flex: 1;
}

#header__container--student-name {
  text-align: right;
}

#header__title--party {
  color: #34D1D1;
}

h1 {
  color: #D1D2D3;
  font-size: 30px;
}

h2 {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #F2F2F2;
}

.section__heading__container {
  width: 90%;
  margin: 40px auto;
}

h3 {
  display: flex;
  font-size: 18px;
  align-items: left;
}

.section__heading--hr {
  flex: 1;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #D1D2D3;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0; 
}

.main__accordion {
  width: 80%;
  margin: 0 auto;
}

.accordion__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid #D1D2D3;
  font-family: 'Open Sans';
  font-weight: 300;
}

.accordion__tabs p {
  margin: 12px 0;
  line-height: 24px;
}

.accordion__tabs h2 {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #F2F2F2;
}

.accordion__tabs label {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  flex: 1;
  display: flex;
  padding: 1rem 2rem;
  cursor: pointer;
  background: #F2F2F2;
  border: 1px solid #FFFFFF;
  color: #666666;
  font-weight: 300;
  -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s;
}

.accordion__tabs .accordion__tab {
  -webkit-box-ordinal-group: 100;
  -webkit-order: 99;
  -ms-flex-order: 99;
  order: 99;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #FFFFFF;
}

.accordion__tabs img {
  margin-right: 24px; 
}

.accordion__tabs h2 {
  color: #000000;
}

.accordion__tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.accordion__tabs input[type="radio"]:checked + label { 
  background: #FFFFFF;
  color: #000000;
  font-weight: 600;
}

.accordion__tabs input[type="radio"]:checked + label + .accordion__tab { 
  display: flex; 
}

.section__footer--embed-code {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #D1D2D3;
}